extends layout

block content
  h2 המרבד במייל
  p כל הזמן נכנסים ומתאכזבים? הרשמו להתראות מייל ולא תפסידו אף נסיעה!
  form(action="/add_email", method="post")
    label(for="useremail") כתובת דוא"ל: 
    input(type="email", required="required", name="useremail", id="useremail")
    br
    input(type="radio", name="when", id="emailpost", value="post", checked="checked")
    label(for="emailpost") כל פרסום (אין הרבה! מומלץ) 
    br
    input(type="radio", name="when", id="emailday", value="day")
    label(for="emailday") סיכום של היום (תפספסו פרסומים של מעכשו לעכשו)
    br
    input(type="submit", value="דונט קול אס - וויל קול יו")
  h2 נסיעות היום - #{weekday[day]}
  ul(data-role="listview", data-theme="d", data-divider-theme="c", id="rides-list")
    each ride in today
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה
  h2 נסיעות מחר - #{weekday[day+1]}
  ul
    each ride in tomorrow
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה
  h2 נסיעות מחרתיים - #{weekday[day+2]}
  ul
    each ride in tomorrowow
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה
  h2 נסיעות אחרתיים - #{weekday[day+3]}
  ul
    each ride in tomorrowowow
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה