extends layout

block content
  h2 נסיעות היום - #{weekday[day]}
  ul(data-role="listview", data-theme="d", data-divider-theme="c", id="rides-list")
    each ride in today
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה
  h2 נסיעות מחר - #{weekday[day+1]}
  ul
    each ride in tomorrow
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה
  h2 נסיעות מחרתיים - #{weekday[day+2]}
  ul
    each ride in tomorrowow
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה
  h2 נסיעות אחרתיים - #{weekday[day+3]}
  ul
    each ride in tomorrowowow
      li
        h3
          #{ride.time.getHours()}:#{(ride.time.getMinutes()<10?'0':'') + ride.time.getMinutes()} |
          #{ride.content}
        p
          #{ride.name} |
          a(href="tel:#{ride.phone}") #{ride.phone.slice(0,3)}-#{ride.phone.slice(3,6)}-#{ride.phone.slice(6)}
          &nbsp;&#124;
          a(href='/remove/#{ride.id}', data-rel="dialog") מחיקה